data/processed
data/raw

notebooks/*.pt

outputs/checkpoints/*
outputs/predictions/*
outputs/logs/*
!outputs/checkpoints/.gitkeep
!outputs/predictions/.gitkeep
!outputs/logs/.gitkeep

__pycache__/
*.py[cod]
.ipynb_checkpoints/
venv/
.venv/
.DS_Store
