data/processed/stage-1/train
data/processed/stage-1/val
data/processed/stage-1/test

data/processed/stage-2/train
data/processed/stage-2/val
data/processed/stage-2/test

data/raw

notebooks/*.pt


__pycache__/
*.py[cod]
.ipynb_checkpoints/
venv/
.venv/
.DS_Store
